.jobs {
  height: 100%;
  overflow: scroll;
  background-color: RGB(242, 244, 247);
  &::-webkit-scrollbar {
    display: none;
  }
  :global {
    .adm-pull-to-refresh {
      height: 100%;
    }
    .adm-pull-to-refresh-content {
      height: 100%;
    }
  }
  .footer {
    margin-top: 12px;
  }
  .add {
    @media (max-width: 750px) {
      display: none;
    }
    position: fixed;
    bottom: 100px;
    right: 100px;
    i {
      font-size: 30px;
    }
  }
}
