.picture {
  display: flex;
  flex-wrap: wrap;
  .image {
    position: relative;
    @media (max-width: 750px) {
      width: 100%;
    }
    .delete {
      position: absolute;
      width: 30px;
      height: 30px;
      background-color: #fff;
      border-radius: 50%;
      display: flex;
      align-items: center;
      justify-content: center;
      top: -15px;
      right: -5px;
      cursor: pointer;
      z-index: 1000000;
      i {
        font-size: 30px;
      }
    }
  }
  .preview__image {
    width: 250px !important;
    height: 150px !important;
    @media (max-width: 750px) {
      width: 100% !important;
      height: 180px !important;
    }
    border-radius: 4px;
    margin-right: 8px;
    margin-bottom: 8px;
    overflow: hidden;
  }
  .no__data {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    width: 100%;
    img {
      width: 200px;
    }
    span {
      font-size: 14px;
      margin-bottom: 12px;
      color: var(--noColor);
      margin-left: 25px;
    }
  }
  .upload {
    width: 250px !important;
    height: 150px !important;
    background-color: RGB(251, 251, 251);
    border-radius: 4px;
    position: relative;
    &::before {
      display: block;
      content: "";
      width: 50px;
      height: 2px;
      background-color: #000;
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      border-radius: 10px;
    }
    &::after {
      display: block;
      content: "";
      width: 2px;
      height: 50px;
      background-color: #000;
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      border-radius: 10px;
    }
  }
  :global {
    .ant-upload {
      width: 250px !important;
      height: 150px !important;
      border: none !important;
    }
    .ant-upload-wrapper {
      width: auto !important;
    }
    // .ant-upload-list-item-container {
    //   width: 100px !important;
    //   height: 100px !important;
    // }
    // .ant-upload-list-item {
    //   padding: 0 !important;
    //   img {
    //     width: 100px !important;
    //     height: 100px !important;
    //     object-fit: cover !important;
    //     border-radius: 4px !important;
    //   }
    // }
  }
}
.edit__picture {
  margin-top: 24px;
  @media (max-width: 750px) {
    margin-top: 12px;
  }
}
