.draw__list {
  width: 200px;
  height: 100%;
  background-color: #fff;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  .bottom {
    padding-bottom: 24px;
  }
}
