.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 80px;
  box-sizing: border-box;
  padding: 0 var(--pagePaddingHorizontal);
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
  .left {
    .placeholder {
      width: 130px;
      height: 60px;
      background-color: green;
    }
  }
}
