.edit__pannel {
  padding: 0 calc((100% - var(--contentWidth)) / 2);
  .edit__pannel__inner {
    position: relative;
    background-color: #fff;
    border-radius: 12px;
    padding: 24px;
    box-sizing: border-box;
  }
  .btn {
    position: absolute;
    right: 24px;
    top: 24px;
    display: flex;
  }
}
