:global {
  @font-face {
    font-family: "iconfont"; /* Project id 4495614 */
    src: url("//at.alicdn.com/t/c/font_4495614_4n933mez9lt.woff2?t=1712330487580")
        format("woff2"),
      url("//at.alicdn.com/t/c/font_4495614_4n933mez9lt.woff?t=1712330487580")
        format("woff"),
      url("//at.alicdn.com/t/c/font_4495614_4n933mez9lt.ttf?t=1712330487580")
        format("truetype");
  }

  .iconfont {
    font-family: "iconfont" !important;
    font-size: 16px;
    font-style: normal;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }

  .icon-resume-line:before {
    content: "\e64a";
  }

  .icon-tianjia:before {
    content: "\e628";
  }

  .icon-shanchu:before {
    content: "\e65d";
  }

  .icon-wodetoudi:before {
    content: "\e647";
  }
}
