.search {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #051a49;
  padding: 24px calc((100% - var(--contentWidth)) / 2);
  @media (max-width: 750px) {
    display: none;
  }
  .keyword {
    width: 20%;
    margin-right: 24px;
    input,
    label {
      color: #fff;
    }
    fieldset {
      border-color: #fff !important;
    }
  }
  .type {
    width: 20%;
    margin-right: 24px;

    label {
      color: #fff;
    }
    fieldset {
      border-color: #fff !important;
    }
    :global {
      .MuiSelect-select {
        color: #fff !important;
      }
    }
  }
  .city {
    // @media (max-width: 750px) {
    //   display: none;
    // }
    width: 20%;
    input,
    label {
      color: #fff;
    }
    fieldset {
      border-color: #fff !important;
    }
  }
  .search__btn {
    margin-left: 24px;
  }
}
