.search {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #051a49;
  padding: 48px calc((100% - var(--contentWidth)) / 2);
  .keyword {
    width: 300px;
    margin-right: 24px;
    input,
    label {
      color: #fff;
    }
    fieldset {
      border-color: #fff !important;
    }
  }
  .type {
    width: 300px;
    margin-right: 24px;

    label {
      color: #fff;
    }
    fieldset {
      border-color: #fff !important;
    }
    :global {
      .MuiSelect-select {
        color: #fff !important;
      }
    }
  }
  .city {
    width: 300px;
    input,
    label {
      color: #fff;
    }
    fieldset {
      border-color: #fff !important;
    }
  }
  .search__btn {
    margin-left: 24px;
  }
}
