.container {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);

  .box {
    overflow: hidden;
    background-color: #fff;
    border-radius: 6px;
  }
  .operation {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 12px;
    background-color: #fff;
    margin-top: 12px;
    border-radius: 4px;
    box-sizing: border-box;
    .page {
      width: 50%;

      display: flex;
      justify-content: center;
    }
  }
}
